html, body {
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  color: #13293D;
  background-color: #E8F1F2;
}

main {
  width: 768px;
  margin-top: 1rem;
  text-align: center;
}

footer {
  margin-bottom: 1rem;
}

main h1, main h2, main p {
  margin: 1rem 0;
}

main h1 {
  font-size: 3rem;
  font-weight: bold;
}

main h2 {
  font-size: 2rem;
  color: #006494;
}

main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #247BA0;
}

main img {
  width: 360px;
  border-radius: 50%;
}

main a {
  color: #1B98E0;
  font-weight: bold;
}

main a:hover {
  text-decoration:none;
}

footer a {
  color: #13293D;
}
